﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/zoo-style.css" rel="stylesheet" />
    <script src="~/jquery/dist/jquery.min.js"></script>
    <script src="~/js/menubar-functions.js"></script>
    <script src="~/js/slider-functions.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul class="nav">
        <li>
            <a href="@Url.Action("Index", "Zoo")">Attractions</a>
            <a href="@Url.Action("VisitorDetails", "Zoo")">Visitor Info</a>
            <a href="@Url.Action("BuyTickets", "Zoo")">Tickets</a>
        </li>
    </ul>
    <div class=" header-container">
        <h1 class="content">Welcome to Zoo Center</h1>
        <div class="slider-buttons">
            <img src="~/images/prevArrow.png" class="prev" Onclick="prevImage()" asp-append-version="true" />
            <img src="~/images/nextArrow.png" class="next" Onclick="nextImage()" asp-append-version="true" />
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
